.btn-primary {
    color: $white-color;
    background-color: $miami-pink;
    border-color: $miami-pink;
    &:hover,&:focus {
        color: $white-color;
        background-color: $miami-violet;
        border-color: $miami-violet;
    }
}