.error404 {
	.main {
		padding-top: 10rem;
		padding-bottom: 4rem;
		.center {
			text-align: center;
			.button {
				display: inline-block;
				margin-top: 40px;
			}
			h1 {
				margin: 40px 0;
			}
		}
	}
}